.card {
    font-size: 12px;
    overflow-wrap: break-word;
    background-color: white;
    height: 157px;
    border: 2px solid black;
    
    &.red {
        border: 2pt solid red !important;
    }
    
    &.selected {
        border: 2pt solid aqua;

        .card-name {
            background-color: aqua;
        }

        .card-body {
            .districts {
                background-color: aqua;
            }

            .play {
                background-color: rgb(161, 255, 255);
            }

            .reveal {
                    background-color: rgb(190, 190, 190);
                    color: grey;
            }
            .reveal-effect {
                color: rgb(193, 193, 193)
            }
        }

        
    }
    .card-name {
        background-color: rgb(170, 184, 251);
        height: 25px;

    }

    .card-body {
        max-height: 137px;

        .districts {
            background-color: rgb(170, 251, 202);
        }
        
        .play {
            background-color: rgb(207, 255, 226);
        }
        
        .reveal {
            background-color: rgb(255, 163, 163);
        }
    }
}
