.card {
    font-size: 12px;
    overflow-wrap: break-word;
    background-color: white;
    height: 157px;
    border: 2px solid black;

    &:hover {
        border: 2pt solid aqua;
        // opacity: 0.5;
    }


    &.disabled {
        opacity: 0.5;
    }
    
    &.red {
        border: 2pt solid red !important;
    }
    
    &.selected {
        border: 2pt solid aqua;

        .card-name {
            background-color: aqua;
        }

        .card-body {
            .districts {
                background-color: aqua;
            }

            .play {
                background-color: rgb(99, 248, 248);
            }
            .play-effect{
                border-bottom: 2pt solid rgb(99, 248, 248);

            }
            .reveal {
                    background-color: rgb(190, 190, 190);
                    color: grey;
                    font-style: italic;
            }
            .reveal-effect {
                color: rgb(193, 193, 193);
                background-color: rgb(236, 236, 236);
                font-style: italic;

            }
        }

        
    }
    .card-name {
        background-color: rgb(170, 184, 251);
        height: 25px;
        font-weight: 600;
        text-align: center;
        // padding-top: 1px

    }

    .card-body {
        // padding-left: 5px;
        max-height: 137px;

        .districts {
            background-color: rgb(170, 251, 202);
        }
        
        .play {
            background-color: rgb(207, 255, 226);
        }
        
        .reveal {
            background-color: rgb(255, 163, 163);
        }
        
        .play-effect {
                background-color: rgb(223, 248, 248);
            border-bottom: 1px solid black;

        }

        .reveal-effect {
            background-color: rgb(253, 245, 229);
            border-bottom: 1px solid black;
        }
    }
}
