// .board-container {
//     position: relative; 
//     width: 1280px; 
//     height: 720px; 
//     background-size: 100% 100%; 
//     overflow: visible;
// }
.pass-btn {
    position: absolute;
    border: 3px solid black;
    top: 455px;
    left: 970px;
    width: 8%;
    height: 7%;
}

.reveal-btn {
    position: absolute;
    border: 3px solid black;
    top: 455px;
    left: 1087px;
    width: 8%;
    height: 7%;
}

.pass, .reveal {
    &:hover {
        background-color: aqua;
        opacity: 0.5;
    }
}
.player-resource-container {
    color: white; 
    font-size: 9px;
    font-weight: 600;
    text-align: center;
    width: 35px;
    height: 220px;
    top: 310px;
    left: 255px;
    div {
        div {
            color: rgb(155, 255, 155);
            margin-bottom: 3px;
        }
    }
}

.card-selection-dialog-content {
    z-index: 9999;
    background-color: white;
    width: 1500px;
    height: 500px;
}

.board-outer {
  position: relative;
  width: 100vw;
  height: 100vh;           /* o el alto que quieras usar */
  display: grid;
  place-items: center;
  overflow: auto;          /* permite scroll si hace falta */
}

.board-viewport {
  /* caja “real” que ocupa el tamaño escalado para centrar correctamente */
  width: calc(1280px * var(--scale));
  height: calc(720px * var(--scale));
  position: relative;
}

.board-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  transform-origin: top left;
  transform: scale(var(--scale));
  overflow: visible;
  /* Render del bitmap, ajustá a gusto */
  image-rendering: crisp-edges;   /* pixel-art look */
  /* image-rendering: auto;       // suavizado */
}
