.player-resource-container {
    color: white; 
    font-size: 12px;
    width: 100px;
    height: 220px;
    top: 475px;
    left: 375px;
    div {
        div {
            color: rgb(155, 255, 155);
        }
    }
}

.payment-modal {
    background-color: white;
}