.player-resource-container {
    color: white; 
    font-size: 12px;
    width: 100px;
    height: 220px;
    top: 475px;
    left: 375px;
    div {
        div {
            color: rgb(155, 255, 155);
        }
    }
}

.card-selection-dialog-content {
    z-index: 9999;
    background-color: white;
    width: 1500px;
    height: 500px;
}