.location-component-container {
    width: 162px;
    height: 82px;
    background-color: white;

    font-size: 8px;

    .worker-image-container {
        width: 10px;
        height: 10px;
        position: relative;
        top: -25px;
        left: 11px;
    }

    .location-container {

        max-height: 60px;

        display: grid;

        &.selected {}

        .location-name-container {
            width: 100%;
            height: 13px;
            background-color: violet;
            font-size: 10px;
            // padding-left: 15px;
            text-align: center;
        }        

        .location-icons-container {
            width: 38px;
            height: 20px;
        }

        .location-resource-cost-container {
            width: 100%;
            height: 42px;
        }

        .location-reward-container {
            width: 74px;
            height: 40px;
        }
    }
}