.location-component-container {
    width: calc(1280px / 12);
    height: calc(720px / 12);
    // background-color: white;
    background-color: rgb(218, 218, 218);

    font-size: 12px;

    &.disabled {
        opacity: 0.5;
    }
    

    .worker-image-container {
        width: 10px;
        height: 10px;
        position: relative;
        top: -25px;
        left: 11px;
    }

    .location-container {

        max-height: 60px;

        display: grid;


        &.selected {
            border: 1px solid aqua;
        }

        .location-cost-container {
            // background-color: red;
            // padding: 2px;
            margin-right: 7px;
            border-right: 1pt solid;
            overflow-wrap: break-word;
            height: 45px;
            color: rgb(56, 69, 255);
        }

        .location-name-container {
            width: 100%;
            height: 13px;
            background-color: violet;
            font-size: 8pt;
            font-weight: 600;
            // padding-left: 15px;
            text-align: centergit p;
        }        

        .location-icons-container {
            width: 38px;
            height: 20px;
        }

        .location-resource-cost-container {
            width: 73px;
            height: 50px;
            padding-top: 2px;
        }

        .location-moves-cost-container {
            padding-top: 10px;
            padding-left: 2px;
            text-align: center;
            text-transform: uppercase;
        }

        .location-reward-container {
            padding-top: 10px;
            

            hr {
            color: rgb(255, 149, 0);
            }
            .reward-item {

            }
        }
    }
}

.resource-container {
    display: inline-block;
}

.reward-moves-container {
    text-align: center;
    color: rgb(255, 217, 0);
    font-weight: 600;
    // color: rgb(255, 213, 0);
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
    .reward-move-item {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}


.candy {
    border-radius: 10px;
    height: 5px;
    width: 12px;
    background-color: red;
    margin: 3px;
    display: inline;
    text-align: center;
    color: yellow;
    border: 1pt solid rgb(16, 28, 255);
}

.loot {
    border-radius: 10px;
    height: 5px;
    width: 12px;
    background-color: rgb(140, 140, 140);
    margin: 3px;
    display: inline;
    text-align: center;
    color: yellow;
    border: 1pt solid aqua;
}